/* Navbar background color */

.navbar
{
    background-color: rgb(217, 183, 247) !important;
}

/* colors and text for nav bar links*/
.nav-link
{
    color:rgb(137, 67, 241);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /*Euphoria Script*/
    letter-spacing: 3.5px;
    word-spacing: -1.5px;
}

/* colors and text for headers*/
h1
{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    letter-spacing: 3.5px;
    word-spacing: -1.5px;
}


/* Images style */
.logo
{
    width: 150px;
    height: 150px;
    border-radius: 45%;
    color:rgb(255, 157, 250);
}

/* Separate left and right columns */
.desserts-list li:nth-child(odd) 
{
    margin-left: -50px;
}

.desserts-list li:nth-child(even) 
{
    margin-left: 50px;
}

/* Change button colors*/
.btn
{
    background-color:rgb(117, 28, 201);
    border-color: rgb(117, 28, 201);
}


.btn:hover
{
    background-color: rgb(213, 173, 236);
    border-color: rgb(213, 173, 236);
}