/* Navbar background color */

.navbar
{
    background-color: #D9B7F7 !important;
}

/* colors and text for nav bar links*/
.nav-link
{
    color:#8943F1;
    font-weight: bold;
    font-family: 'Euphoria Script';  
    font-size: 25px;  
    letter-spacing: 3.5px;
    word-spacing: -1.5px;
}

/* colors and text style for webpage*/
h1
{
    color: #d81dac;
    font-weight: bold;
    font-family: 'Euphoria Script'; 
    font-size: 40px;
    letter-spacing: 3.5px;
    word-spacing: -1.5px;
}

h2
{
    color: #3700B7;
    font-family: 'Euphoria Script'; 
    font-size: 30px;
    letter-spacing: 3.5px;
    word-spacing: -1.0px;
}

/* Alert message for errors */
h3
{
    color: #fa0404;
    font-family: 'Euphoria Script'; 
    font-size: 30px;
    letter-spacing: 3.5px;
    word-spacing: -1.0px;
}

span
{

    font-family: 'Euphoria Script'; 
    font-size: 22px;
    letter-spacing: 2.5px;
    word-spacing: -1.5px;
}

p
{
    font-family: 'Euphoria Script'; 
    font-size: 25px;
    letter-spacing: 3.5px;
    word-spacing: -1.5px;
}


/* Images style */
.logo
{
    width: 140px;
    height: 140px;
    border-radius: 45%;
    color:#FF9DFA;
}

/* Separate left and right columns */
.desserts-list li:nth-child(odd) 
{
    margin-left: -50px;
}

.desserts-list li:nth-child(even) 
{
    margin-left: 50px;
}

/* Change button style*/
.btn
{
    font-family: 'Euphoria Script';
    font-size: 15px;
    background-color:#751CC9;
    border-color: #751CC9;
}


.btn:hover
{
    
    background-color: #D5ADEC;
    border-color: #D5ADEC;
}