{% extends "layout.html" %}

{% block title %}
    Tortas de 3 leches
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Tortas de 3 leches</h1>
        <p class="mb-4">Las clásicas tortas de 3 leches elaboradas con leche condensada, leche evaporada y crema de leche.</p>
        <p class="mb-4">Puedes llevarlas con la crema que desees desde vainilla hasta chocolate.</p>
        <p class="mb-4">Puedes compartirla con aproximadamente 12 a 15 personas.</p>
        </section>
    <section class="cupcakes_images">
        <img src="/static/caketresleches1.jpg" alt="Estilo de torta de 3 leches" class="img-thumbnail me-3" style="width: 380px; height: auto;">
        <img src="/static/caketresleches.jpg" alt="Estilo de torta de 3 leches tematico" class="img-thumbnail me-3" style="width: 280px; height: auto;">
    </section>
{% endblock %}