{% extends "layout.html" %}

{% block title %}
    cheescake
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Cheescake</h1>
        <p class="mb-4">Nuestros deliciosos cheescakes son elaborados a mano con base de queso y bajos en azúcar.<p>
        <p class="mb-4">Puedes encontrarlos en sabor de maracuya, frutos rojos, limón u oreo.<p>
        <p class="mb-4">Para ocasiones especiales de café o ron.</p>
        </section>
    <section class="cupcakes_images">
        <img src="/static/cheescakelimon.jpg" alt="cheesecake de limón" class="img-thumbnail me-3" style="width: 350px; height: auto;">
        <img src="/static/cheescakeoreo.jpg" alt="cheesecake de oreo" class="img-thumbnail me-3" style="width: 400px; height: auto;">
    </section>
{% endblock %}