{% extends "layout.html" %}

{% block title %}
    Cupcakes
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Cupcakes</h1>
        <p class="mb-4">Nuestros deliciosos cupcakes son elaborados a mano y posteriormente horneados.<p>
        <p class="mb-4">Puedes encontrarlos en sabores de vainilla, chocolate o redvelvet y rellenos de arequipe, junto a una deliciosa decoración en fondant o en crema.<p>
    </section>
    <section class="cupcakes_images">
        <img src="/static/cupcakes1.jpg" alt="diferentes estilos de cupcakes" class="img-thumbnail me-3" style="width: 450px; height: auto;">
        <img src="/static/cupcakes2.jpg" alt="diferentes estilos de cupcakes" class="img-thumbnail me-3" style="width: 390px; height: auto;">
    </section>
{% endblock %}
