{% extends "layout.html" %}

{% block title %}
    Historial
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Revisa nuestra historia juntos!</h1>
        <h2>Echa un vistazo a tu historial de pedidos:</h2>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Tamaño</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Populate the table with last order information-->
                    {% if not orders %}
                        <tr>
                            <td colspan="5">Aún no has realizado tu primera compra.</td>
                       </tr>
                    {% else %}
                        {% for row in orders %}
                        <tr>
                            <td>{{ row.product }}</td>
                            <td>{{ row.quantity }}</td>
                            <td>{{ row.type }}</td>
                            <td>${{ row.price }}</td>
                            <td>${{ row.date }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
    </section>
    <div class="d-flex justify-content-between my-3">
        {% if page > 1 %}    
            <a class="btn btn-primary" href="{{ url_for('user_history', page=page-1) }}">Anterior</a>
        {% else %}
            <span></span>
        {% endif %}
        {% if orders|length == page_rows %}
            <a class="btn btn-primary" href="{{ url_for('user_history', page=page+1) }}">Siguiente</a>
        {% endif %}
    </div>
{% endblock %}
