{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Bienvenidos!</h1>
        <h2 class="mb-8">Da un vistazo a nuestra selección de postres:</h2>
            <ul class="row g-4 desserts-list list-unstyled mt-5">
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/cupcakes.jpg" alt="diferentes estilos de cupcakes" class="img-thumbnail me-3" style="width: 350px; height: auto;">
                        <span>Revisa nuestros deliciosos cupcakes</span>
                        <a href="/cupcakes" class="btn btn-primary ms-4">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/cheescakemora.jpg" alt="cheescake de frutos rojos" class="img-thumbnail me-3" style="width: 250px; height: auto;">
                        <span> O tal vez nuestros cheesecakes</span>
                        <a href="/cheesecake" class="btn btn-primary ms-3">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/caketresleches.jpg" alt="Torta de 3 leches" class="img-thumbnail me-3" style="width: 200px; height: auto;">
                        <span>Las tortas de 3 leches son deliciosas</span>
                        <a href="/3leches" class="btn btn-primary ms-4">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/otrosproductos.jpg" alt="Mesa decorativa con diferentes postres" class="img-thumbnail me-3" style="width: 350px; height: auto;">
                        <span>Otros productos</span>
                        <a href="/otros" class="btn btn-primary ms-3">Click aqui!</a>
                    </div>
                </li>
            </ul>
    </section>
{% endblock %}
