{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5" style="color: #d81dac;">Bienvenidos a Chicake</h1>
        <P class="mb-8"style="color: #3700B7; font-size:20px;">Da un vistazo a nuestra selección de postres!</P>
            <ul class="row g-4 desserts-list list-unstyled">
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/cupcakes.jpg" alt="diferentes estilos de cupcakes" class="img-thumbnail me-3" style="width: 350px; height: auto;">
                        <span>Revisa nuestros deliciosos cupcakes</span>
                        <a href="/cupcakes" class="btn btn-primary ms-4">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/cheescakelimon.jpg" alt="Torta de limón" class="img-thumbnail me-3" style="width: 250px; height: auto;">
                        <span>Tal vez te gusten nuestros cheesecakes</span>
                        <a href="/cheesecake" class="btn btn-primary ms-3">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/caketresleches.jpg" alt="Torta de 3 leches" class="img-thumbnail me-3" style="width: 200px; height: auto;">
                        <span>Las tortas de 3 leches son deliciosas</span>
                        <a href="/3leches" class="btn btn-primary ms-4">Click aqui!</a>
                    </div>
                </li>
                <li class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/static/otrosproductos.jpg" alt="Mesa decorativa con diferentes postres" class="img-thumbnail me-3" style="width: 350px; height: auto;">
                        <span>Otros productos</span>
                        <a href="/otros" class="btn btn-primary ms-3">Click aqui!</a>
                    </div>
                </li>
            </ul>
    </section>
{% endblock %}
