{% extends "layout.html" %}

{% block title %}
    creación de pedido
{% endblock %}

{% block main %}
    <h1 class="mb-5">¿Qué quieres pedir hoy?</h1>
        <form action="/orders" method="post">
            <div class="mb-3">
                <select class="form-control mx-auto w-auto" name="product">
                    <option disabled selected>Elige un producto</option>
                    {% for product in products %}
                        <option>{{ product }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="quantity" placeholder="Cantidad" type="number">
            </div>
                <div class="mb-3">
                <select class="form-control mx-auto w-auto" name="type">
                    <option disabled selected>Tamaño (seleccionar und para cupcakes)</option>
                    {% for type in types %}
                        <option>{{ type }}</option>
                    {% endfor %}
                </select>
                <br>
            <button class="btn btn-primary mb-3" type="submit">Guardar productos</button>
        </form>
        <br>
        <h1 class="mb-5">Revisa tu orden</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Tamaño</th>
                        <th>Precio</th>
                    </tr>
                <t/head>
                <tbody>
                    <!--Populate the table with order information-->
                    {% if orders is not defined or orders == [] %}
                       <tr>
                            <td colspan="4">No has agregado productos a tu orden aún.</td>
                       </tr>
                    {% else %}
                        {% for row in orders %}
                        <tr>
                            <td>{{ row.product }}</td>
                            <td>{{ row.quantity }}</td>
                            <td>{{ row.type }}</td>
                            <td>${{ row.price }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="3">Valor a pagar</td>
                        <td class="border-0 text-center">{{ total_purchase }}</td>
                    </tr>
                </tfoot>
        </table>
        <form action="/orders" method="post">
            <button class="btn btn-success" type="submit" name="action" value="checkout">Realizar pedido</button>
        </form>
{% endblock %}