{% extends "layout.html" %}

{% block title %}
    Otros productos
{% endblock %}

{% block main %}
    <section class="products">
        <h1 class="mb-5">Mesas de postres</h1>
        <ul class="mb-5"style="list-style-type: none;">
            <li><span>Cheescake</span></li>
            <li><span>Cupcakes</span></li>
            <li><span>Mini tortas</span></li>
            <li><span>Trufas de brownie</span></li>
        </ul>
    </section>
    <section class="mb-8">
        <img class="mb-5"src="/static/otrosproductos.jpg" alt="mesa con varios postres" class="img-thumbnail me-3" style="width: 500px; height: auto;">
        <h2 class="mb-4">Esto y más puedes tener para tu mesa de postres, contáctanos para más información.</h2>
    </section>
{% endblock %}


De lo del porqie  lo inicie mira :
Chicake inició porque la repostería me hace feliz y me permite expresar lo que soy. Cada cheesecake y cada cupcake nace del amor por crear, de las ganas de salir adelante y de soñar en grande. Este proyecto es un paso hacia mi crecimiento personal y el inicio de un sueño: ofrecer en el futuro postres saludables, hechos con el mismo cariño y pasión de siempre. 

No sé. Algo no se