{% extends "layout.html" %}

{% block title %}
    Otros productos
{% endblock %}

{% block main %}
    <section class="products">
        <h1 class="mb-4">Mesas de postres</h1>
        <h2 class="mb-3">Tu mesa puede incluir:</h1>
        <ul class="mb-5"style="list-style-type: none;">
            <li><span>Cheescake</span></li>
            <li><span>Cupcakes</span></li>
            <li><span>Mini tortas</span></li>
            <li><span>Trufas de brownie</span></li>
        </ul>
    </section>
    <section class="mb-8">
        <img class="mb-5"src="/static/otrosproductos.jpg" alt="mesa con varios postres" class="img-thumbnail me-3" style="width: 500px; height: auto;">
        <h2 class="mb-4">Esto y más puedes tener para tu mesa de postres, contáctanos para más información y para poder elaborar tu orden.</h2>
    </section>
{% endblock %}