{% extends "layout.html" %}

{% block title %}
    Cambio de contraseña
{% endblock %}

{% block main %}
    <h1 class="mb-5">Ingresa la información requerida para poder cambiar tu contraseña</h1>
    <h3 class="mb-5"> {{ message }}</h3>
        <form action="/password_update" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Usuario o telefono" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Contraseña actual" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="Contraseña nueva" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirma Contraseña" type="password">
            </div>
        <button class="btn btn-primary" type="submit">Actualizar contraseña</button>
    </form>
{% endblock %}