{% extends "layout.html" %}

{% block title %}
    Inicio usuario
{% endblock %}

{% block main %}
    <section class="products">
      <h1 class="mb-5">Bienvenido {{ username }}!</h1>
        <h2>Es un placer tenerte de vuelta, revisa lo último que pediste:</h2>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Tamaño</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Populate the table with last order information-->
                    {% if not last_order %}
                        <tr>
                            <td colspan="5">Aún no has realizado tu primera compra.</td>
                       </tr>
                    {% else %}
                        {% for row in last_order %}
                        <tr>
                            <td>{{ row.product }}</td>
                            <td>{{ row.quantity }}</td>
                            <td>{{ row.type }}</td>
                            <td>${{ row.price }}</td>
                            <td>${{ row.date }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        <h2>¿Listo para realizar otro pedido?</h2>
    </section>
{% endblock %}